<?xml version='1.0' encoding='utf-8'?>
<widget id="com.enimax.hehetest" version="1.2.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Enimax</name>
    <description>
        Anime? For me?
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="file:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/assets/images/anime.png" platform="android" density="mdpi" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:debuggable="true" />
        </edit-config>
        <splash src="res/land-hdpi.png" density="land-hdpi" />
        <splash src="res/land-ldpi.png" density="land-ldpi" />
        <splash src="res/land-mdpi.png" density="land-mdpi" />
        <splash src="res/land-xhdpi.png" density="land-xhdpi" />
        <splash src="res/land-xxhdpi.png" density="land-xxhdpi" />
        <splash src="res/land-xxxhdpi.png" density="land-xxxhdpi" />

        <splash src="res/port-hdpi.png" density="port-hdpi" />
        <splash src="res/port-ldpi.png" density="port-ldpi" />
        <splash src="res/port-mdpi.png" density="port-mdpi" />
        <splash src="res/port-xhdpi.png" density="port-xhdpi" />
        <splash src="res/port-xxhdpi.png" density="port-xxhdpi" />
        <splash src="res/port-xxxhdpi.png" density="port-xxxhdpi" /> 

        <splash src="res/port-hdpi.png" density="hdpi" />
        <splash src="res/port-ldpi.png" density="ldpi" />
        <splash src="res/port-mdpi.png" density="mdpi" />
        <splash src="res/port-xhdpi.png" density="xhdpi" />
        <splash src="res/port-xxhdpi.png" density="xxhdpi" />
        <splash src="res/port-xxxhdpi.png" density="xxxhdpi" /> 
    </platform>
</widget>
