#noti_con::-webkit-scrollbar {

    width: 0;
}

body {
    font-size: 15px;
}

#noti_con {
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    max-width: 100%;

    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    z-index: 400;

    max-height: 100%;
}

a {
    color: white !important;
}

.noti {
    width: calc(100% - 20px);
    font-size: 15px;
    border-radius: 10px;
    min-height: 100px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(calc(-100% - 20px));
    animation-name: enter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    flex-direction: column;
    overflow: hidden;

}

@keyframes enter {

    0% {
        transform: translateX(calc(100% + 20px));

    }

    100% {
        transform: translateX(0px);

    }

}

.noti_head {
    color: white;
    text-align: left;
    color: white;
    text-align: left;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.noti_data {
    color: white;
    text-align: left;
    color: white;
    text-align: left;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    word-break: break-all;
    box-sizing: border-box;
}


.dot {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    /*position: relative;*/

}

.dot::after {
    content: '\02715';
    font-size: 10px;
    /*line-height: 100px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;

    animation-name: timerNoti;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes timerNoti {

    0% {
        width: 100%;

    }

    100% {
        width: 0;
    }

}



#color_con {
    height: 80px;
    display: block;
    text-align: center;
    text-align: center;
    color: black;
    background: #212121;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}



.redNoti {
    background: linear-gradient(to bottom left, #843f6c 40%, #bf4277 100%);
}

.blueNoti {
    background: linear-gradient(to bottom left, #4561c9 40%, #508396 100%);

}


#pullTab {
    position: fixed;
    top: 0;
    z-index: 99;
    left: calc(50% - 20px);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    pointer-events: none;
    opacity: 0;
    background-color: var(--theme-color);
    transition-duration: 200ms;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    transform: rotate(0deg);
}