#sources{
    position: fixed;
    top:10px;
    right: 10px;
    border-radius: 30px;
    padding: 0 20px 0 20px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    box-shadow:none;
    border:0!important;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    
    line-height: 3;
    
    width: calc(100% - 90px);
    height: 60px;
    line-height: 3;
    background-color: var(--theme-color);
    
    border-radius: .25em;
    
 }


 #searchBoxCon {
    position: absolute;
  
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .searchBox {
    position: fixed;
    z-index: 99;
    top: 10px;
    left: 10px;
    transition-duration: 0.2s;
    background: var(--theme-color);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  
  
  
  
  .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: 0px;
  }
  
  .searchInput {
    border: none;
    background: none;
    float: left;
    transition-duration: 0.2s;

    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 0px;
    font-family: 'Raleway', sans-serif;
  }
  
  .searchInput::placeholder {
    color: white;
  }


  #mainConSearch {
    overflow-y: hidden;
    height: calc(100% - 85px);
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    color:white;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    left: 0;
  }