#catActive {
    position: relative;
    line-height: 0;
    top: 5px;
    height: 0;
    width: 0;
    z-index: 0;

}

.textBoxSettings {
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    padding: 20px;
    border: 0;
    width: 100%;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: 5px solid #d8c9c9;
}

#catActiveMain {
    transition-duration: 0.2s;
    border-radius: 30px;
    background-color: var(--theme-color) !important;
    color: white !important;

}

#mainCon {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

#menu {
    transition-duration: 200ms;
    max-height: calc(100% - 65px);
    height: auto;
    overflow-y: auto;
    width: 300px;
    max-width: calc(100% - 100px);
    background-color: transparent;
    border-radius: 10px;
    position: fixed;
    bottom: 65px;
    left: 0;
    transform: translateX(-200px);
    pointer-events: none;
    opacity: 0;
    margin: 10px;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;

}

#queueCon {
    padding: 20px;
    box-sizing: border-box;
    color: white;

}

.queuePause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M11,16H9V8h2V16z M15,16h-2V8h2V16z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


#tableCon {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

input[type="color"] {
    appearance: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

#outlineColor {
    display: inline-block;
    border: 0px;

}

#toggleMenuOpen {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 100px;
    width: calc(100% - 300px);
    display: none;
}

.menuPadding {
    height: 70px;
    width: 10px;
}

#outlineWidth, #backgroundBlur {
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    padding: 20px;
    border: 0;
    width: 100%;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: 5px solid #d8c9c9;
}

#fmoviesBase {
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    padding: 20px;
    border: 0;
    width: 100%;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: 5px solid #d8c9c9;
}

#downloadTimeout {
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    padding: 20px;
    border: 0;
    width: 100%;
    display: inline-block;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: 5px solid #d8c9c9;
}

#themeColor {
    display: inline-block;
    border: 0px;


}

.snappedCustomRooms {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    overflow-y: hidden !important;
    overflow-x: auto;
    width: 100% !important;
    height: 100% !important;
}

.snappedCategoriesDataMain {
    min-width: 100%;
    width: 100%;
    display: flex !important;
    scroll-snap-align: center;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-snap-stop: always;
    flex-flow: row wrap;
    justify-content: center;
}

#custom_rooms {
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.queuePlay {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M9.5,16.5v-9l7,4.5L9.5,16.5z'/%3E%3C/g%3E%3C/svg%3E");
}

#queueButton {
    height: 60px;
    width: 60px;
    background-size: contain;

}

.queueRemove {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M14,10H3v2h11V10z M14,6H3v2h11V6z M3,16h7v-2H3V16z M14.41,22L17,19.41L19.59,22L21,20.59L18.41,18L21,15.41L19.59,14 L17,16.59L14.41,14L13,15.41L15.59,18L13,20.59L14.41,22z'/%3E%3C/g%3E%3C/svg%3E");
}

.queueMessage {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: black;
}

.queueMessageCon {
    padding: 10px;
    width: 100%;
}

.episodesCon {
    justify-content: left !important;
}

#menuIcon {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 55px;
    background-color: var(--theme-color);
    /* box-shadow: 0px 0px 0px 3px #ffffff; */
    border-radius: 50px;
    vertical-align: middle;

}

#searchIcon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin-left: 10px;
    width: 55px;
    background-color: var(--theme-color);
    /* box-shadow: 0px 0px 0px 3px #ffffff; */
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}

#floatingMenu {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 98;
}

#floatingMenuWrapper {
    background: #2d292a;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
}

#menuLogo {
    width: 100%;
    padding: 20px 10px 20px 10px;

    box-sizing: border-box;
    background-color: var(--theme-color);
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.menuItem {
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    transition-duration: 0.4s;


}

#menuBg {
    z-index: 97;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    transition-duration: 0.4s;

}


.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9.5px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -7.5px) rotate(-45deg);
}



#categoriesCon {
    min-height: 60px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10px 0 10px 0;
}

.categories {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 30px;
    background-color: white;
    border: 0px solid white;
    color: black;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 10;
    transition-duration: 0.2s;

}

.categories.activeCat {
    background-color: transparent !important;
    color: white !important;

}

.categoriesDataMain {
    width: 100%;
    display: none;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
}

.active {
    display: flex !important;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.s_card {
    height: 230px !important;
    width: calc(50% - 20px) !important;
    max-width: 200px !important;
    min-width: 150px !important;
}

.s_card_title {
    font-size: 14px !important;
    padding-top: 55px !important;
}

.s_card_title_main {
    font-size: 14px !important;
    text-decoration: underline;

}

.card_title_extension {
    pointer-events: none;
    display: inline-block;
    background: white;
    margin-bottom: 10px;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 20px 0px 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.discoverTitle {
    background-color: white;
    padding: 12px 20px 12px 20px;
    font-weight: bold;
    border-radius: 25px;
    font-size: 15px;
}

#themesCon {
    justify-content: center;
    align-items: center;
}

.themesContainer {
    height: 100px;
    width: 80px;
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
    border: 5px solid #a18e8e;
}

.themesContainer.selected {
    border: 5px solid white;
}

.theme1 {
    background-image: linear-gradient(to bottom, #4b6cb7, #182848);
}

.theme2 {
    background-image: linear-gradient(to bottom, #c04848, #480048);
}

.theme3 {
    background-image: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.theme4 {
    background-image: linear-gradient(to bottom, #c31432, #240b36);
}




.menuIcon {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

#reloadMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z'/%3E%3C/svg%3E");
}

#resetPasswordMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M13,3c-4.97,0-9,4.03-9,9c0,0.06,0.01,0.12,0.01,0.19l-1.84-1.84l-1.41,1.41L5,16l4.24-4.24l-1.41-1.41l-1.82,1.82 C6.01,12.11,6,12.06,6,12c0-3.86,3.14-7,7-7s7,3.14,7,7s-3.14,7-7,7c-1.9,0-3.62-0.76-4.88-1.99L6.7,18.42 C8.32,20.01,10.55,21,13,21c4.97,0,9-4.03,9-9S17.97,3,13,3z M15,11v-1c0-1.1-0.9-2-2-2s-2,0.9-2,2v1c-0.55,0-1,0.45-1,1v3 c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1v-3C16,11.45,15.55,11,15,11z M14,11h-2v-1c0-0.55,0.45-1,1-1s1,0.45,1,1V11z'/%3E%3C/svg%3E");
}

/* meow */
#addCatsMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E%3C/svg%3E");
}

/* wtf */
#reorderCatsMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11 7h6v2h-6zm0 4h6v2h-6zm0 4h6v2h-6zM7 7h2v2H7zm0 4h2v2H7zm0 4h2v2H7zM20.1 3H3.9c-.5 0-.9.4-.9.9v16.2c0 .4.4.9.9.9h16.2c.4 0 .9-.5.9-.9V3.9c0-.5-.5-.9-.9-.9zM19 19H5V5h14v14z'/%3E%3C/svg%3E");
}

#downloadMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z'/%3E%3C/g%3E%3C/svg%3E");
}

#settingMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z'/%3E%3C/svg%3E");
}

#themesMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M12,22C6.49,22,2,17.51,2,12S6.49,2,12,2s10,4.04,10,9c0,3.31-2.69,6-6,6h-1.77c-0.28,0-0.5,0.22-0.5,0.5 c0,0.12,0.05,0.23,0.13,0.33c0.41,0.47,0.64,1.06,0.64,1.67C14.5,20.88,13.38,22,12,22z M12,4c-4.41,0-8,3.59-8,8s3.59,8,8,8 c0.28,0,0.5-0.22,0.5-0.5c0-0.16-0.08-0.28-0.14-0.35c-0.41-0.46-0.63-1.05-0.63-1.65c0-1.38,1.12-2.5,2.5-2.5H16 c2.21,0,4-1.79,4-4C20,7.14,16.41,4,12,4z'/%3E%3Ccircle cx='6.5' cy='11.5' r='1.5'/%3E%3Ccircle cx='9.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='14.5' cy='7.5' r='1.5'/%3E%3Ccircle cx='17.5' cy='11.5' r='1.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#serverMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 15v4H5v-4h14m1-2H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1v-6c0-.55-.45-1-1-1zM7 18.5c-.82 0-1.5-.67-1.5-1.5s.68-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM19 5v4H5V5h14m1-2H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM7 8.5c-.82 0-1.5-.67-1.5-1.5S6.18 5.5 7 5.5s1.5.68 1.5 1.5S7.83 8.5 7 8.5z'/%3E%3C/svg%3E");
}

#logoutMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z'/%3E%3C/g%3E%3C/svg%3E");
}

#exportMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M16,5l-1.42,1.42l-1.59-1.59V16h-1.98V4.83L9.42,6.42L8,5l4-4L16,5z M20,10v11c0,1.1-0.9,2-2,2H6c-1.11,0-2-0.9-2-2V10 c0-1.11,0.89-2,2-2h3v2H6v11h12V10h-3V8h3C19.1,8,20,8.89,20,10z'/%3E%3C/g%3E%3C/svg%3E");
}

#importMenu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 3L5 6.99h3V14h2V6.99h3L9 3zm7 14.01V10h-2v7.01h-3L15 21l4-3.99h-3z'/%3E%3C/svg%3E");
}

.menuTitle {
    display: inline-block;
    vertical-align: middle;
}

#room_dis {
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;

}

#infoBut {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3E%3C/svg%3E");
}

#updateLib {
    display: inline-block;
    padding: 12px 20px;
    background-color: white;
    border-radius: 24px;
    vertical-align: middle;
}